*
{
		font-family:verdana;
}
img
{
		width:80%;
		height:80%;
}
h1
{
	text-align:center;
	color:white;
}
#cont1

@media screen and (max-width:500px)
{
	#cont1
	nav
	{
		background:black;
		height:500px;
	}
	img
	{
		width:500%;
		height:500%;
	}
	footer
	{
		font-size:50%;
		height:50px;
	}
}
@media screen and (min-width:500px)
{
	#cont1
	{
		background:silver;
		color:#000033;
		font-size:100%;
	}
}
@media (orientation:portrait)
{
	body
	{
		background:black;
	}
}
@media (orientation:landscape)
{
	body
	{
		background:black;
	}
}
footer
{
	background:#000000;
	height:450px;
	float:below;
	color:blue;
}
li
{
	background=lightgreen;
	font-size:180%;
	color:#000033;
}
nav
{
	background:lightgreen;
}

td
{
	color:white;
}
img
	{
		width:100%;
		height:40%;
	}
b
{
	background:#0099CC;
	height:120px;
	float:below;
	color:white;
	size:10px;
}